.menu{	
	width:100%;
    position:fixed;
	background: #ffffff;
	z-index: 999999	
}
.item{		
	cursor:pointer;    
}
.logo{
	cursor:pointer;    
	left:2px;

	position:relative;
	width:424px;
	height:118px;	
	background: #ffff;
}
.item_inicio{
	float:right;
	left:2px;
	top:2px;
	position:relative;
	width:91px;
	height:49px;
	background:transparent url(../img/btn_inicio.png) no-repeat top left;	
}
	.item_inicio:hover{		
		background:transparent url(../img/btn_inicio_over.png) no-repeat top left;	
	}
	
.item_soluciones{
	float:right;
	left:2px;
	top:2px;
	position:relative;
	width:224px;
	height:49px;
	background:transparent url(../img/btn_soluciones.png) no-repeat top left;
}
	.item_soluciones:hover{		
		background:transparent url(../img/btn_soluciones_over.png) no-repeat top left;	
	}
.item_tendencias{
	float:right;
	left:2px;
	top:2px;
	position:relative;
	width:141px;
	height:49px;
	background:transparent url(../img/btn_tendencias.png) no-repeat top left;
}
	.item_tendencias:hover{		
		background:transparent url(../img/btn_tendencias_over.png) no-repeat top left;	
	}
.item_nosotros{
	float:right;
	left:2px;
	top:2px;
	position:relative;
	width:128px;
	height:49px;
	background:transparent url(../img/btn_nosotros.png) no-repeat top left;
}
	.item_nosotros:hover{		
		background:transparent url(../img/btn_nosotros_over.png) no-repeat top left;	
	}
.item_madera{
	float:right;
	left:2px;
	top:2px;
	position:relative;
	width:199px;
	height:49px;
	background:transparent url(../img/btn_madera.png) no-repeat top left;
}
	.item_madera:hover{		
		background:transparent url(../img/btn_madera_over.png) no-repeat top left;	
	}
.item_descargas{
	float:right;
	left:2px;
	top:2px;
	position:relative;	
	width:140px;
	height:49px;
	background:transparent url(../img/btn_descargas.png) no-repeat top left;
}
	.item_descargas:hover{		
		background:transparent url(../img/btn_descargas_over.png) no-repeat top left;	
	}
