#inicio .bcg{
	background-image:url('../img/bg1_white.png')
}

#soluciones .bcg{
	/*background-image:url('../img/bg1_white.png')*/
}
#tendencias .bcg{
	/*background-image:url('../img/bg.png')*/
}
#nosotros .bcg{
	background-image:url('../img/bg_nosotros_white.png')
}



.buttonsSoluciones{
	width:100%;	
	margin: 0 auto 0 auto;	
	display:block;
}
	.buttonsSoluciones:hover .buttonImg{
		opacity:.5;
		left:2em;
	}
	.buttonsSoluciones:hover .buttonImg:hover{
		opacity:1;
		
	}
.buttonsSoluciones.a{
	 display:inline;
	
}
.buttonImg {
	width:100%;	
}

